/* Container for the entire navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vw;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Logo section */
  .logo {
    display: flex;
    align-items: center;
    padding-left: 2rem;
  }
  
  .logo img {
    width: 15rem;
    height: auto;
    margin-right: 1rem;
  }
  
  .navRight {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  

  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    
  }
  
  .navLinks li {
    font-size: 1.2rem;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #000;
  }
  
  .navLinks a:hover {
    color: #8b8a8a;
  }
  
  .searchContainer {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .searchContainer input {
    border: none;
    background: none;
    padding: 0.5rem;
    width: 200px;
    
  }
  
  .searchContainer button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .searchContainer button i {
    font-size: 1rem;
    
  }



.dropdown {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  z-index: 100;
  padding: 1rem;


}

.dropdownItem {
  padding: 0.5rem;
  width: auto;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
/* Dropdown when no results are found */
.noResults {
  padding: 0.5rem;
  color: #000000; /* Highlight with red */
  text-align: center;
  font-weight: bold;
}
