.searchContainer {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 5px;
}

.searchContainer input {
  border: none;
  background: none;
  padding: 0.5rem;
  width: 200px;
}

.searchContainer button {
  background: none;
  border: none;
  cursor: pointer;
}

.searchContainer button i {
  font-size: 1rem;
}
