.container {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 1rem;
}

.header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100vw;
}

.headerContent {
  text-align: left; 
  max-width: 50%; 
  padding-right: 5rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.addButton {
  background-color: #000;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imagePlaceholder {
  width: 30%; 
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-right: 5rem;
}

.searchSection, .googleBooksSearch {
  margin-top: 2rem;
  text-align: center;
}

.searchSection h2, .googleBooksSearch h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.recentlyAdded {
  margin-top: 2rem;
  padding: 2rem;
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.recentlyAdded h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.booksGrid {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 2rem;
  padding-left: 10rem;
}

.bookCard {
  width: 10rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  
}

.bookCard:hover {
  transform: scale(1.05); 
}

.bookTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  width: 100%;               
  display: block;
}

.bookIcon {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  object-fit: cover; 
}

.googleBookResult {
  margin-top: 2rem;
}

.googleBookCard {
  text-align: center;
}

.googleBookCard img {
  width: 150px;
  height: 200px;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    width:120vh;
  }

  .headerContent {
    max-width: 100%; 
    padding-right: 0;
    text-align: center;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }

  .imagePlaceholder {
    display: none;
  }
  .recentlyAdded{
    align-items: end;
    text-align: end;
    padding-left: 10rem;
  }

  .booksGrid {
    grid-template-columns: 1fr 1fr;
    padding-left: 10rem; 
  }
}

@media (max-width: 480px) {
  .booksGrid {
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  .bookCard {
    width: 180px; 
    height: 250px;
  }

  .bookIcon {
    width: 80px;
    height: 80px;
  }
}
