.container {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 1rem;
}

.bookSection {
  padding: 2rem;
  width: 100vw;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.booksGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2rem;
  justify-items: center; 
  padding-right: 4rem;
}

.bookCard {
  width: 10rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.bookCard:hover {
  transform: scale(1.05);
}

.bookIcon {
  width: 130px;
  height: 200px;
}

.bookTitle {
  font-size: 1rem;
  color: #333;
  margin: 0;
  line-height: 1.5;
  text-align: center; 
}

@media (max-width: 1024px) {
  .booksGrid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .booksGrid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .booksGrid {
    grid-template-columns: 1fr; 
  }

  .bookIcon {
    width: 100%; /* Adjusted for smaller screens */
    height: 100%;
  }
}
